<webapp>
<display-name>NickServ</display-name>

<servlet>
<servlet-name>NickServ</servlet-name>
<display-name>NickServ</display-name>
<description>NickServ IRC servlet</description>
<servlet-class>jircd.servlet.irc.nickserv.NickServ</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>NickServ</servlet-name>
<url-pattern>/NickServ,isnick</url-pattern>
</servlet-mapping>
</webapp>
